[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.2.1"
google-cloud-aiplatform = "*"
python-dotenv = "*"
black = "*"
google-cloud-pubsub = "*"
google-api-python-client = "*"
google-cloud-secret-manager = "*"
functions-framework = "*"
langchain-google-vertexai = "*"
google-cloud-firestore = "*"
tenacity = "==8.1.0"
langchain-core = "==0.2.1"

[dev-packages]

[requires]
python_version = "3.11"
